       @keyframes blinker {
         50% { opacity: 0.0; }
       }
       .editor-caret {
         position: absolute;
         height: 18px;
         width: 2px;
         background-color: black;
         animation: blinker 1s ease-out infinite;
       }
       .highlight
       {
        color: red;
       }
       #editor {
         cursor: text;
         position: relative;
       }
